@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Firecode";
    src: url("./lib/public/FiraCode.ttf");
    font-display: swap;
}

body {
    font-family: "Firecode", Courier, monospace;
}

body {
    @apply bg-gradient-to-r from-slate-800 via-slate-700 to-slate-800 text-white
}
